header {
	background-image: url(../images/header.png);
	background-size: cover;
	height: 500px;	
	width: 100%;
	text-align: center;
	margin-top: -22px;
}

header h1{
	margin: 0;
	font-family: 'Gaegu', cursive;
	color: #fff;
	padding-top: 170px;
	font-size: 5rem;
}

header .btn{
	margin-top: 20px;
	padding: 10px 20px;
	border: none;
	background-color: #e62b2b;
	color: #fff;
}

header .btn:hover{
	background-color: #e62b2b;
	opacity: 0.8;
	color: #fff;
}
.home-page {
	font-family: 'Gaegu', cursive;
	color: #222;
}

.heading {
	font-family: 'Gaegu', cursive;
	font-weight: 1000;
    color: #222;
    font-size: 6rem;
    margin-bottom: 40px;
}

.logo {
	padding: 0px 100px;
}

footer {
	padding: 50px;
	background-color: #222;
	color: #ffffff;
}
